.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}


/* Auto-enhanced Columns Block from <table> */
.columns-block {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.columns-block td {
  flex: 1;
  padding: 1rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

